<!doctype html>

<html>

<head>
    <title>Test Fretboard Page</title>
    <script src="./jquery-1.11.2.min.js"></script>
    <!-- To animate background colors -->
    <script src="./jquery.color-2.1.2.min.js"></script>
    <script src="./fretboard.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
    <div class="container">
        <div class="my-fretboard-js"></div>
        
        <button class="toggle-chord-mode">Toggle chord mode</button>
        <button class="get-clicked-notes">Get clicked notes</button>
        
        <!-- <button ng-click="unclick()">Unclick Frets</button>
    <button ng-click="addString()">Add String</button>
    <button ng-click="removeString()">Remove String</button>
    <button ng-click="toggleNoteClicking()">Toggle Note Clicking Allowed</button>
    <button ng-click="toggleTuningClicking()">Toggle Tuning Arrows Allowed</button>
    <button ng-click="toggleChordMode()">Toggle chord mode</button>
    <button ng-click="getClickedNotes()">Get clicked notes (console)</button> -->
    </div>
    <script type="text/javascript">
        (function($) {
            var isChordMode = true,
                options = {
                allNoteLetters: ["C", "C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "Ab/G#", "A", "A#/Bb", "B"],
                tuning: [{
                    letter: "E",
                    octave: 4
                }, {
                    letter: "B",
                    octave: 4
                }, {
                    letter: "G",
                    octave: 3
                }, {
                    letter: "D",
                    octave: 3
                }, {
                    letter: "A",
                    octave: 3
                }, {
                    letter: "E",
                    octave: 2
                }],
                numFrets: 16,
                isChordMode: isChordMode,
                
                noteClickingDisabled: false,
                tuningClickingDisabled: false,
                clickedNotes: [{
                    stringItsOn: {
                        letter: "E",
                        octave: 4
                    },
                    fretNumber: 5,
                    stringItsOn: {
                        letter: "B",
                        octave: 4
                    },
                    fretNumber: 7,
                }, {
                    stringItsOn: {
                        letter: "G",
                        octave: 3
                    },
                    fretNumber: 6,
                }, {
                    stringItsOn: {
                        letter: "A",
                        octave: 3
                    },
                    fretNumber: 5,
                }],
                fretsToDrawOneCircleOn: [3, 5, 7, 9, 12],
                fretWidth: 70,
                fretHeight: 35,
                clickedNoteCircColor: "purple",
                clickedNoteTextColor: "white",
                hoverNoteCircColor: "yellow",
                hoverNoteTextColor: "red",
                fretboardColor: "wheat",
                stringColor: "black",
                tuningTriangleColor: "blue",
                showTuningTriangles: true,
                showTuningSquares: true,
                tuningSquaresColor: "black",
                tuningSquaresTextColor: "orange",
                nutColor: "brown"
            },
            $fretboard = $(".my-fretboard-js"),
            $fretboardAPI;
            
            $fretboard.fretboard(options);
            $fretboardAPI = $fretboard.data('fretboard'); 
            
            $(".toggle-chord-mode").on("click", function() {
                isChordMode = !isChordMode;
                
                $fretboardAPI.setChordMode(isChordMode);
            });
            
            $(".get-clicked-notes").on("click", function() {
                console.log($fretboardAPI.getClickedNotes());
            });
        })(jQuery);
    </script>
</body>

</html>
