.fretboard-container, .fretboard-container * {
    position: relative;
}

.fretboard-container {
    /* A scroll get set on this element */
    margin: 20px 0;
}

.fretboard-container .body {
    background: wheat;
    border: 1px solid black;
    width: 1000px;
    height: 240px;
    margin: 0 auto;
}

.fretboard-container .string {
    /* We don't want this affecting the placement of other 
       elements, so it will have absolute positioning */
    position: absolute;
    height: 1px;
    width: 100%;
    background: black;
    z-index: 1;
}

.fretboard-container .note {
	border-radius: 50%;
	border: 1px solid black;
	width: 32px;
	height: 32px;
	/* If we give this absolute positioning then we'll have to 
	   calculate the horizontal centering (margin auto won't 
	   work */
	position: absolute;
	cursor: pointer;
    z-index: 10;

    opacity: 0;
    /* Need to animate this */
	
	background: white;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.fretboard-container .note.hover {
    opacity: 1;
}

.fretboard-container .note.clicked {
    background: blue;
    opacity: 1;
}

.fretboard-container .letter {
    position: relative;
    top: 10.5px;
	text-align: center;
    font-size: 11px;
    line-height: 11px;
    z-index: 0;
    
    /* Make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	color: black;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.fretboard-container .note.clicked .letter {
    color: white;
}

.fretboard-container .fret-line {
    background: black;
    width: 1px;
    position: absolute;
}

.fretboard-container .fret-line.first {
    width: 20px;
}

.fretboard-container .fret-line.last {
    display: none;
}

@media (max-width: 1000px) {
    .fretboard-container .body {
        width: 800px;
    }
    
    .fretboard-container .note {
        width: 30px;
        height: 30px;
    }
    
    .fretboard-container .letter {
        top: 10px;
        font-size: 10px;
        line-height: 10px;
    }
}

/* Theme Examples */

/* Box Shadow */
.fretboard-container .body {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 15px auto;
}

/* Space */
.fretboard-container.space-theme .body {
    background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/582px-NGC_4414_%28NASA-med%29.jpg);
    background-size: contain;
    border: 1px solid white;
}

.fretboard-container.space-theme .string {
    background: white;
}

.fretboard-container.space-theme .note.clicked {
    background: green;
    border: 1px solid white;
}

.fretboard-container.space-theme .note {
    border: 1px solid green;
}

.fretboard-container.space-theme .fret-line {
    background: white;
}


