.container {
    min-width: 280px;
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    overflow-x: hidden;
}

.fretboard-container * {
    position: relative;
}

/* This serves to wrap the fretboard body plus 
   anything else we want to put in here */
.fretboard-container {
    width: 100%;
}

.fretboard-container .body {
    background: wheat;
    border: 1px solid black;
}

/* Horizontal layout examples */

/* The instrument body has a set width, and the frets evenly distribute 
   inside of it: */
.fretboard-container .body {
    width: 800px;
    /* Set the JS config option "autoSizeFretWidths" to true */
}


/* The instrument body expands to the size of the frets inside,
   and you don't need the body to be centered horizontally */
.fretboard-container .body {
    width: auto;
    display: inline-block;
    /* float:left will work too instead of inline-block */
    
    /* Set the JS config option "autoSizeFretWidths" to false */
    
    /* TODO DEAL WITH SCROLL ISSUE WHEN BROWSER IS SMALL */
}
.fretboard-container .fret {
    width: 55px;
}   



/* The instrument body expands to the size of the frets inside,
   and you DO need the body to be centered horizontally */
.fretboard-container .body {
    width: auto;
    display: table;
    margin: 0 auto;
    
    /* TODO DEAL WITH SCROLL ISSUE WHEN BROWSER IS SMALL */
}

.fretboard-container .fret {
    width: 55px;
}   



/*
.my-fretboard-js.fretboard-container .body.strings-7 {
    height: 280px;
}

.my-fretboard-js.fretboard-container .body.strings-8 {
    height: 320px;
}

.my-fretboard-js.fretboard-container .body.frets-17 {
    width: 1190px;
}

.my-fretboard-js.fretboard-container .body.frets-18 {
    width: 1260px;
}
*/

.fretboard-container .fret {
    box-sizing: border-box;
	float: left;
	border-right: 2px solid black;
}

.fretboard-container .fret.first {
    border-right: 15px solid black;
}

.fretboard-container .fret.last {
    border: none;
}

.fretboard-container .fret-container {
    width: 100%;
    /* To contain the floated frets */
    overflow:hidden;
}

.fretboard-container .string {
    /* We don't want this affecting the placement of other 
       elements, so it will have absolute positioning */
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    z-index: 1;
}

.fretboard-container .note {
	border-radius: 50%;
	border: 1px solid black;
	width: 28px;
	height: 28px;
	/* If we give this absolute positioning then we'll have to 
	   calculate the horizontal centering (margin auto won't 
	   work */
	position: relative;
	cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;

    opacity: 0;
    /* Need to animate this */
	
	background: white;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.fretboard-container .note.hover {
    opacity: 1;
}

.fretboard-container .note.clicked {
    background: blue;
}

.fretboard-container .letter {
    position: relative;
	text-align: center;
    font-size: 10px;
    line-height: 10px;
    z-index: 0;
    
    /* Make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	color: black;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
}

.fretboard-container .note.clicked .letter {
    color: white;
}

/* Theme Examples */

/*
.my-fretboard-js.fretboard-container .body {
    background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/NGC_4414_%28NASA-med%29.jpg/582px-NGC_4414_%28NASA-med%29.jpg);
    background-size: contain;
    border: none;
}

.my-fretboard-js.fretboard-container .fret {
    border-right: 2px solid white;
}

.my-fretboard-js.fretboard-container .fret.first {
    border-right: 15px solid white;
}

.my-fretboard-js.fretboard-container .fret.last {
    border-right: none;
}

.my-fretboard-js.fretboard-container .string {
    background: white;
}

.my-fretboard-js.fretboard-container .note.clicked {
    background: green;
    border: 1px solid white;
}

.my-fretboard-js.fretboard-container .note {
    border: 1px solid green;
}
*/



