.fretboard-container, .fretboard-container * {
    position: relative;
}

.fretboard-container {
    margin: 20px 5%;
    /* By default the width and height of the .body will animate to
       the width/height of this. Override the width and height with
       custom values using the dimensionsFunc property of the config
       object. */
    /*height: 240px;*/ 
}

@media (max-width: 1000px) {
    .fretboard-container {
        width: 800px;
    }
    .fretboard-container .note {
        width: 23px;
        height: 23px;
    }
    
    .fretboard-container .letter {
        top: 8.5px;
        font-size: 8px;
        line-height: 8px;
    }
}

.fretboard-container .body {
    background: wheat;
    border: 1px solid gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /* The margin should be as big as the box-shadow because the 
       default JS functionality fits the body inside the 
       container and won't take into account drop-shadow size,
       but will take into account margin */
    margin: 10px;
    /* width and height calculations are in the JS */
}

.fretboard-container .string {
    /* We don't want this affecting the placement of other 
       elements, so it will have absolute positioning */
    position: absolute;
    height: 1px;
    width: 100%;
    background: black;
    z-index: 1;
}

.fretboard-container .note {
	border-radius: 50%;
	border: 1px solid black;
	width: 28px;
	height: 28px;
	/* If we give this absolute positioning then we'll have to 
	   calculate the horizontal centering (margin auto won't 
	   work */
	position: absolute;
	cursor: pointer;
    z-index: 10;
    
    /* These will be animated */
    opacity: 0;
    transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    -ms-transition: opacity.15s linear;
    -o-transition: opacity .15s linear;
    
	background: white;
	
    /*-webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -o-transition: background .15s linear;
    -ms-transition: background .15s linear;
    transition: background .15s linear;*/

}

.fretboard-container .note.hover {
    opacity: 1;
    
    transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: opacity .15s linear;
}

.fretboard-container .note.clicked {
    background: blue;
    border: 1px solid white;
    opacity: 1;
    /*
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -o-transition: background .15s linear;
    -ms-transition: background .15s linear;
    transition: background .15s linear;*/
}

.fretboard-container .letter {
    position: relative;
    top: 9px;
	text-align: center;
    font-size: 10px;
    line-height: 10px;
    z-index: 0;
    
    /* Make text unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
	color: black;
}

.fretboard-container .note.clicked .letter {
    color: white;
}

.fretboard-container .fret-line {
    background: black;
    width: 1px;
    position: absolute;
}

.fretboard-container .fret-line.first {
    width: 12px;
}

.fretboard-container .fret-line.last {
    width: 0;
}

/* Theme Examples */

/* Space */
.fretboard-container.space-theme .body {
    background: url("NGC_4414_(NASA-med).jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.fretboard-container.space-theme .string {
    background: white;
}

.fretboard-container.space-theme .note.clicked {
    background: green;
    border: 1px solid white;
}

.fretboard-container.space-theme .note {
    border: 1px solid green;
}

.fretboard-container.space-theme .fret-line {
    background: white;
}


