<!doctype html>

<html>

<head>
    <title>Test Fretboard Page</title>
    <meta name="viewport" content="initial-scale=1">
    <script src="../common/jquery-1.11.2.min.js"></script>
    <script src="../common/fretboard.js"></script>
    <script src="./angular.js"></script>
    <script src="./angular-fretboard.js"></script>

    <link rel="stylesheet" type="text/css" href="../common/styles.css">
    <link rel="stylesheet" type="text/css" href="../common/demo-styles.css">
</head>

<body ng-app="myApp">
   
<div class="container" ng-controller="MyController">
    <script type="text/javascript">
            var app = angular.module("myApp", ['angularFretboard']);

            app.controller("MyController", ["$scope",
                function ($scope) {
                    var isChordMode = true;
                    var isDisabled = false;
                    var eightStringTuning = [{
                        letter: "E",
                        octave: 4
                    }, {
                        letter: "B",
                        octave: 3
                    }, {
                        letter: "G",
                        octave: 3
                    }, {
                        letter: "D",
                        octave: 3
                    }, {
                        letter: "A",
                        octave: 2
                    }, {
                        letter: "E",
                        octave: 2
                    }, {
                        letter: "B",
                        octave: 1
                    }, {
                        letter: "F#/Gb",
                        octave: 1
                    }];
                    var standardTuning = $.extend(true, [], eightStringTuning).slice(0, 6);
                    var numFrets = 16;
                    var cMaj7Notes = [{
                        string: {
                            letter: "E",
                            octave: 4
                        }, notes: [{
                            fret: 3,
                            cssClass: "red"
                        }]
                    }, {
                        string: {
                            letter: "B",
                            octave: 3
                        }, notes: [{
                            fret: 5,
                            cssClass: "red"
                        }]
                    }, {
                        string: {
                            letter: "G",
                            octave: 3
                        }, notes: [{
                            fret: 4,
                            cssClass: "red"
                        }]
                    }, {
                        string: {
                            letter: "D",
                            octave: 3
                        }, notes: [{
                            fret: 5,
                            cssClass: "red"
                        }]
                    }, {
                        string: {
                            letter: "A",
                            octave: 2
                        }, notes: [{
                            fret: 3,
                            cssClass: "red"
                        }]
                    }];
                    var dimensionsFunc = function ($fretboardContainer, $fretboardBody, settings) {
                        var width = $(window).width();
                        var height;

                        if (width <= 768) {
                            height = settings.tuning.length * 26;
                        } else {
                            height = settings.tuning.length * 32;
                        }

                        return {
                            height: height
                        };
                    };
                    var noteCircles = [3, 5, 7, 9, 12, 15, 17, 19, 21, 24];
                    var intervalSettings = {
                        intervals: ['1', 'b2', '2', 'b3', '3', '4', 'b5', '5', 'b6', '6', 'b7', '7'],
                        root: "C"
                    };
                    var noteMode = 'letter'; // or 'interval',
                    var isIntervalMode = noteMode === 'interval';
                    var clickedNotesChangedFuncs = [function () {
                        console.log("Clicked notes are: ");
                        console.log($scope.config.clickedNotes);
                    }, function () {
                        console.log("Another clicked notes callback...");
                    }];
                    var options = {
                        tuning: standardTuning,
                        numFrets: numFrets,
                        isChordMode: isChordMode,
                        noteClickingDisabled: isDisabled,
                        allNoteLetters: ["C", "C#/Db", "D", "D#/Eb", "E", "F", "F#/Gb", "G", "Ab/G#", "A", "A#/Bb", "B"],
                        noteMode: noteMode,
                        intervalSettings: intervalSettings,
                        animationSpeed: 400, // ms
                        noteCircles: noteCircles,
                        dimensionsFunc: dimensionsFunc,
                        notesClickedCallbacks: clickedNotesChangedFuncs
                    };

                    $scope.config = options;

                    $scope.toggleChordMode = function () {
                        $scope.config.isChordMode = !$scope.config.isChordMode;
                    };

                    $scope.setMaj7Chord = function () {
                        $scope.config.clickedNotes = $.extend(true, [], cMaj7Notes);
                    };

                    $scope.getClickedNotes = function () {
                        console.log($scope.config.clickedNotes);
                    };

                    $scope.toggleNoteClicking = function () {
                        $scope.config.noteClickingDisabled = !$scope.config.noteClickingDisabled;
                    };

                    $scope.addString = function () {
                        // make a copy to change the reference 
                        if ($scope.config.tuning.length < eightStringTuning.length) {
                            $scope.config.tuning = $.extend(true, [], $scope.config.tuning);
                            $scope.config.tuning.push({
                                letter: eightStringTuning[$scope.config.tuning.length].letter,
                                octave: eightStringTuning[$scope.config.tuning.length].octave
                            });
                        }
                    };

                    $scope.removeString = function () {
                        // make a copy to change the reference 
                        if ($scope.config.tuning.length > 4) {
                            $scope.config.tuning = $.extend(true, [], $scope.config.tuning);
                            $scope.config.tuning.pop();
                        }
                    };

                    $scope.changeToStandardTuning = function () {
                        // make a copy to change the reference 
                        $scope.config.tuning = $.extend(true, [], standardTuning);
                    };

                    $scope.changeToEightStringTuning = function () {
                        // make a copy to change the reference 
                        $scope.config.tuning = $.extend(true, [], eightStringTuning);
                    };

                    $scope.addFret = function () {
                        if ($scope.config.numFrets < 24) {
                            $scope.config.numFrets++;
                        }
                    };

                    $scope.removeFret = function () {
                        if ($scope.config.numFrets > 12) {
                            $scope.config.numFrets--;
                        }
                    };

                    $scope.unclick = function () {
                        $scope.config.clickedNotes = [];
                    };

                    $scope.toggleNoteMode = function () {
                        isIntervalMode = !isIntervalMode;
                        $scope.config.noteMode = isIntervalMode ? 'interval' : 'letter';
                        if (!$scope.config.clickedNotes.length) {
                            $scope.config.clickedNotes = $.extend(true, [], cMaj7Notes);
                        }
                    };

                    $scope.toggleIntervalSettings = function () {
                        intervalSettings = $.extend(true, {}, intervalSettings);
                        intervalSettings.root = intervalSettings.root === "C" ? "G" : "C";
                        $scope.config.intervalSettings = intervalSettings;
                        $scope.config.noteMode = 'interval';
                        isIntervalMode = true;
                        if (!$scope.config.clickedNotes.length) {
                            $scope.config.clickedNotes = $.extend(true, [], cMaj7Notes);
                        }
                    };
                }
            ]);
        </script>

<div fretboard config='config'></div>

<p class="disclaimer disclaimer-first">
    Below are some examples of things you can do with the fretboard.
</p>

<button ng-click="setMaj7Chord()">Click chord</button>
<!-- show-progression placeholder -->
<!-- show-scale-run placeholder -->
<!-- show-arpeggio placeholder -->
<button ng-click="getClickedNotes()">Get clicked notes (console)</button>
<button ng-click="unclick()">Unclick Notes</button>
<button ng-click="toggleNoteClicking()">Disable/enable note clicking</button>
<button ng-click="addString()">Add String</button>
<button ng-click="removeString()">Remove String</button>
<button ng-click="changeToEightStringTuning()">Set 8-string tuning</button>
<button ng-click="changeToStandardTuning()">Set standard tuning</button>
<button ng-click="addFret()">Add fret</button>
<button ng-click="removeFret()">Remove fret</button>
<button ng-click="toggleChordMode()">Toggle chord/scale mode</button>
<button ng-click="toggleNoteMode()">Toggle note/interval mode </button>
<button ng-click="toggleIntervalSettings()">Toggle root interval (C/G)</button>

<div class="json">
    <p>Config data-binding</p>
    <pre>{{ config | json }}</pre>
</div>
</div>
</body>

</html>