<!doctype html>

<html>

<head>
  <title>Test Fretboard Page</title>
  <meta charset="utf-8" />
  <script src="../jquery-1.9.1.min.js"></script>
  <script src="../raphael-min.js"></script>
  <script src="../fretboard.js"></script>
  <script src="angular.js"></script>
  <script src="safeApply.js"></script>
</head>

<body ng-app="myApp">
  <div ng-controller="MyController">
    <script type="text/javascript">
      var app = angular.module("myApp", ['Scope.safeApply']);

      app.controller("MyController", ["$scope",
        function ($scope) {
          $scope.config = {
            fretboardOrigin: [100,200],
            numFrets: 16,
            fretWidth: 60,
            fretHeight: 30,
          	isChordMode: true,
            disabled: false,
            guitarStringNotes: [
              { noteLetter: "E", noteOctave: 5 },
              { noteLetter: "B", noteOctave: 5 },
              { noteLetter: "G", noteOctave: 4 },
              { noteLetter: "D", noteOctave: 4 },
              { noteLetter: "A", noteOctave: 4 },
              { noteLetter: "E", noteOctave: 3 }							
            ],
            clickedNotes: [
              { 
                stringItsOn : { noteLetter: "E", noteOctave: 5 } ,
                fretNumber: 5,
                circColor: "red",
								textColor : "white"
              },
              { 
                stringItsOn : { noteLetter: "B", noteOctave: 5 } ,
                fretNumber: 7,
                circColor: "green",
								textColor: "black"
              },
              { 
                stringItsOn : { noteLetter: "G", noteOctave: 4 } ,
                fretNumber: 6,
                circColor: "purple",
								textColor: "yellow"
              },
              { 
                stringItsOn : { noteLetter: "A", noteOctave: 4 } ,
                fretNumber: 5,
                circColor: "pink",
								textColor: "brown"
              }
            ],
			      clickedNoteCircColor : "purple",
			      clickedNoteTextColor: "white",
			      hoverNoteCircColor : "yellow",
			      hoverNoteTextColor: "red",
			      fretboardColor: "wheat",
			      stringColor: "black",
			      tuningTriangleColor : "blue",
			      fretsToDrawOneCircleOn : [3,5,7,9,12],
			      opacityAnimateSpeed: 250,
			      showTuningTriangles: true,
			      showTuningSquares: true,
            tuningSquaresColor : "black",
            tuningSquaresTextColor: "orange"
          }

          // For testing
          $scope.$watch(function () {
            return $scope.config
          }, function (newVal, oldval) {
            console.log($scope.config);
          }, true);
          
          $scope.addString = function() {
            // make a copy to change the reference - fix later in the directive
            $scope.config.guitarStringNotes = $scope.config.guitarStringNotes.slice(0);
            $scope.config.guitarStringNotes.push({
              noteLetter: "Gb/F#", 
              noteOctave: 2
            });
          }
          
          $scope.removeString = function() {
            // make a copy to change the reference - fix later in the directive
            $scope.config.guitarStringNotes = $scope.config.guitarStringNotes.slice(0);
            $scope.config.guitarStringNotes.pop();
          }
					
					$scope.unclick = function() {
						$scope.config.clickedNotes = [];
					}
        }
      ]);


      app.directive("fretboard", ["$rootScope",
        function ($rootScope) {
          var fretboardsGeneratedCounter = 0;

          return {
            restrict: "A",
            scope: {
              config: "=fretboardConfig",
              //tuningChangeCallback : "&fretboardTuningChangeCallback"
            },
            // The controller code is run before the scopes of other directives which
            // need access to it, so create the jQuery fretboard here
            controller: ["$scope", "$element", "$attrs",
              function ($scope, $element, $attrs) {
                var ctrl = this;

                initialize($scope.config, $element, ctrl);

                if ($scope.config.disabled) {
                  $scope.$watch(function () {
                    return $scope.config.disabled;
                  }, function (newVal, oldVal) {
                    if (newVal === true) {
                      ctrl.jQueryFretboard.disable();
                    } else {
                      ctrl.jQueryFretboard.enable();
                    }
                  });
                }
								
                if ($scope.config.isChordMode) {
                  $scope.$watch(function () {
                    return $scope.config.isChordMode;
                  }, function (newVal, oldVal) {
                    if (newVal === true) {
                      ctrl.jQueryFretboard.setChordMode(true);
                    } else {
                      ctrl.jQueryFretboard.setChordMode(false);
                    }
                  });
                }
              }
            ],
            // we create 3 inner directives so they can each have their own ngModel, which handles two-way data-binding
            // for only one thing 
            template: '<div fretboard-tuning ng-model="config.guitarStringNotes" tuning-change-callback="config.tuningChangeCallback"></div>' +
              '<div fretboard-clicked-notes ng-model="config.clickedNotes" clicked-note-callback="config.clickedNoteCallback"></div>'
          }

          function initialize(config, element, ctrl) {
            var domId = getUniqueDomIdForFretboard();
            element.attr("id", domId).fretboard(config);

            ctrl.jQueryFretboardElement = element;
            ctrl.jQueryFretboard = element.data('fretboard');
          }

          function getUniqueDomIdForFretboard() {
            fretboardsGeneratedCounter++;
            return "fretboardjs-" + fretboardsGeneratedCounter;
          }
        }
      ]);

       // Do not give these inner directives isolate scope or they will won't be able
       // to access the config in the fretboard directive's isolate scope
      app.directive("fretboardTuning", ["$rootScope", "$parse",
        function ($rootScope, $parse) {
          var isFirst = true;

          return {
            restrict: "A",
            require: ["ngModel", "^fretboard"],
            link: function (scope, element, attrs, ctrls) {
              var ngModelCtrl = ctrls[0];
              var fretboardCtrl = ctrls[1];

              var jQueryFretboardElement = fretboardCtrl.jQueryFretboardElement;
              var jQueryFretboard = fretboardCtrl.jQueryFretboard;

              var tuningChangeCallback = ($parse(attrs.tuningChangeCallback))(scope);

              // Updating the controller
              jQueryFretboardElement.on("tuningChanged", function () {
                $rootScope.$safeApply(function () {
                  ngModelCtrl.$setViewValue(jQueryFretboard.getGuitarStringNotes());

                  if (tuningChangeCallback) {
                    tuningChangeCallback();
                  }
                });
              });

              ngModelCtrl.$render = function () {
                //console.log("render");
                // prevent double rendering the first time
                if (isFirst) {
                  //console.log("skip");
                  // Put the tuning on the controller in case its config file did not 
                  // define a tuning (in which case the default was used)
                  ngModelCtrl.$setViewValue(jQueryFretboard.getGuitarStringNotes());
                  isFirst = false;
                  return;
                }

                jQueryFretboard.setGuitarStringNotes(ngModelCtrl.$viewValue);

                if (tuningChangeCallback) {
                  tuningChangeCallback();
                }
              }
            }
          }
        }
      ]);

      app.directive("fretboardClickedNotes", ["$rootScope", "$parse",
        function ($rootScope, $parse) {
          return {
            restrict: "A",
            require: ["ngModel", "^fretboard"],
            link: function (scope, element, attrs, ctrls) {
              var ngModelCtrl = ctrls[0];
              var fretboardCtrl = ctrls[1];

              var jQueryFretboardElement = fretboardCtrl.jQueryFretboardElement;
              var jQueryFretboard = fretboardCtrl.jQueryFretboard;

              var clickedNoteCallback = ($parse(attrs.clickedNoteCallback))(scope);

              // Updating the controller
              jQueryFretboardElement.on("noteClicked", function () {
                $rootScope.$safeApply(function () {
                  ngModelCtrl.$setViewValue(jQueryFretboard.getClickedNotes());

                  if (clickedNoteCallback) {
                    clickedNoteCallback();
                  }
                });
              });

              ngModelCtrl.$render = function () {
                jQueryFretboard.clearClickedNotes(); // will trigger notesCleared event

                var newNotes = ngModelCtrl.$viewValue;

                if (!newNotes) {
                  return;
                }

                for (var i = 0; i < newNotes.length; i++) {
                  if (newNotes[i]) {
                    jQueryFretboard.setClickedNoteByStringNoteAndFretNum(newNotes[i]);
                  }
                }

                if (clickedNoteCallback) {
                  clickedNoteCallback();
                }
              }
            }
          }
        }
      ]);
    </script>

    <div fretboard fretboard-config='config'></div>

		<button ng-click="unclick()">Unclick Frets</button>
    <button ng-click="addString()">Add String</button>
    <button ng-click="removeString()">Remove String</button>
  </div>
</body>

</html>
